<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.acorn.mapper.MyNotificationMapper">

    <update id="updateNotificationStatusRead">
        UPDATE notification_status set status=1 where notification_id in (select notification_id from (
        select ns.notification_id  from notification n
        INNER JOIN notification_status ns on ns.notification_id=n.notification_id
        where ns.status=0 and  user_id=#{userId} ) temp)
    </update>

</mapper>