<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.acorn.mapper.MyTagMapper">
<!--  <resultMap id="circleAndAttentionNumDto" type="com.www.acorn.dto.CircleAndAttentionNumDto"-->
<!--             extends="com.www.acorn.mbgmapper.CircleMapper.BaseResultMap">-->
<!--    <result column="attention_num" property="attentionNum"/>-->
<!--  </resultMap>-->


  <insert id="insertTagBatch" useGeneratedKeys="true"
          keyProperty="id">
    insert into Tag (title,time) values
    <foreach item="item" collection="list" separator=",">
      (#{item.title}, #{item.time})
    </foreach>
  </insert>


</mapper>